In [4]:
import pandas as pd
import numpy as np
# name=pd.read_csv("name.basics.tsv",sep="\t")
# crew=pd.read_csv("title.crew.tsv",sep="\t")
# principals=pd.read_csv("title.principals.tsv")

In [16]:
principals2=pd.read_csv("title.principals.tsv", sep='\t').drop(columns=["ordering","job","characters"])

In [17]:
principals2.to_csv("principals2.csv",index=False)

In [28]:
principals2.shape

(92521775, 3)

In [18]:
principals3=principals2.pivot_table(index="nconst", columns="category", values="tconst", aggfunc=lambda x: ', '.join(x.dropna().astype(str)))
principals3.head(5)

category,actor,actress,archive_footage,archive_sound,casting_director,cinematographer,composer,director,editor,producer,production_designer,self,writer
nconst,,,,,,,,,,,,,
nm0000001,"tt0023926, tt0024025, tt0025164, tt0026942, tt...",NaN,"tt0072742, tt0073122, tt0113068, tt0133256, tt...",tt0166682,NaN,NaN,NaN,NaN,NaN,"tt0857198, tt0857216",NaN,"tt0054513, tt0054513, tt0054513, tt0055989, tt...",NaN
nm0000002,NaN,"tt0037382, tt0037610, tt0038355, tt0039302, tt...","tt0057290, tt0070199, tt0087419, tt0099786, tt...","tt0222142, tt7697010",NaN,NaN,NaN,NaN,NaN,NaN,NaN,"tt0087419, tt0094539, tt0094697, tt0094697, tt...",NaN
nm0000003,NaN,"tt0044881, tt0046200, tt0047607, tt0048001, tt...","tt0059402, tt0068585, tt0082826, tt0208054, tt...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"tt0056862, tt0057871, tt0058448, tt0059791, tt...",NaN
nm0000004,"tt0076816, tt0077147, tt0077621, tt0077975, tt...",NaN,"tt0088790, tt0088790, tt0088790, tt0096912, tt...",tt3786192,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"tt0274793, tt0694439, tt0694439, tt0694439, tt...","tt0088790, tt0301538, tt0310736, tt0694652, tt..."
nm0000005,"tt0043048, tt0064793, tt0064793, tt0064897, tt...",NaN,"tt0091327, tt0262414, tt0405976, tt0407102, tt...","tt7587576, tt7587588, tt7587740, tt7587754, tt...",NaN,"tt0062306, tt1568803, tt32332091",NaN,"tt0038468, tt0038675, tt0039834, tt0040418, tt...",tt32332091,"tt0060827, tt0069467, tt0076524, tt0079558, tt...",NaN,"tt0076325, tt0083283, tt0090955, tt0091327, tt...","tt0036914, tt0038468, tt0038675, tt0039543, tt..."

In [19]:
principals3.to_csv("principals3.csv",index=False)

In [20]:
principals3 = principals3.fillna("")

for col in principals3.columns:
    if col != "nconst":
        principals3[col] = principals3[col].astype(str)

In [22]:
principals_filtred = principals3[["director","writer"]]

In [23]:
principals_filtred.to_csv("principals_filtred.csv",index=False)

In [24]:
principals_filtred=principals_filtred.reset_index()
principals_filtred.head(5)

category,nconst,director,writer
0,nm0000001,,
1,nm0000002,,
2,nm0000003,,
3,nm0000004,,"tt0088790, tt0301538, tt0310736, tt0694652, tt..."
4,nm0000005,"tt0038468, tt0038675, tt0039834, tt0040418, tt...","tt0036914, tt0038468, tt0038675, tt0039543, tt..."

In [33]:
principals_filtred.shape

(6681410, 3)

In [25]:
crew=pd.read_csv("title.crew.tsv",sep="\t")

In [26]:
def to_nconst_set(cell):
    if pd.isna(cell) or cell == "\\N":
        return set()
    return set(cell.split(","))

crew["directors"] = crew["directors"].apply(to_nconst_set)
crew["writers"] = crew["writers"].apply(to_nconst_set)

In [27]:
crew.to_csv("crew2.csv",index=False)

In [36]:
crew.head(10)

      tconst               directors      writers
0  tt0000001             {nm0005690}           {}
1  tt0000002             {nm0721526}           {}
2  tt0000003             {nm0721526}  {nm0721526}
3  tt0000004             {nm0721526}           {}
4  tt0000005             {nm0005690}           {}
5  tt0000006             {nm0005690}           {}
6  tt0000007  {nm0005690, nm0374658}           {}
7  tt0000008             {nm0005690}           {}
8  tt0000009             {nm0085156}  {nm0085156}
9  tt0000010             {nm0525910}           {}

In [28]:
# On prépare un dictionnaire indexé par nconst
principals_dict = principals_filtred.set_index("nconst").to_dict(orient="index")

In [30]:
for index, row in crew.iterrows():
    tconst = row["tconst"]

    for role in ["directors", "writers"]:
        col = "director" if role == "directors" else "writer"

        for nconst in row[role]:
            if nconst in principals_dict:
                anciens = principals_dict[nconst].get(col, "")
                if anciens:
                    if tconst not in anciens.split(","):
                        principals_dict[nconst][col] = anciens + "," + tconst
                else:
                    principals_dict[nconst][col] = tconst
            else:
                principals_dict[nconst] = {"director": None, "writer": None}
                principals_dict[nconst][col] = tconst

In [31]:
principals4 = pd.DataFrame.from_dict(principals_dict, orient="index").reset_index()
principals4 = principals4.rename(columns={"index": "nconst"})

In [32]:
principals4.to_csv("principals4.csv",index=False)

In [41]:
principals4.shape

(6751579, 3)

In [33]:
principals5 = principals3.drop(columns=["director", "writer"], errors="ignore")  # on évite les doublons
principals5= principals5.merge(principals4, on="nconst", how="outer")

In [34]:
principals5.to_csv("principals5.csv",index=False)

In [44]:
principals5.shape

(6751579, 14)

In [35]:
name=pd.read_csv("name.basics.tsv",sep="\t")

In [4]:
name["primaryProfession"].dropna().str.split(",").explode().unique()

array(['actor', 'miscellaneous', 'producer', 'actress', 'soundtrack',
       'archive_footage', 'music_department', 'writer', 'director',
       'stunts', 'make_up_department', 'composer', 'assistant_director',
       'camera_department', 'music_artist', 'art_department', 'editor',
       'cinematographer', 'casting_director', 'executive',
       'visual_effects', 'costume_designer', 'script_department',
       'art_director', 'editorial_department', 'costume_department',
       'animation_department', 'talent_agent', 'archive_sound',
       'production_designer', 'special_effects', 'manager',
       'production_manager', 'sound_department', 'casting_department',
       'location_management', 'set_decorator',
       'transportation_department', '\\N', 'choreographer', 'legal',
       'accountant', 'podcaster', 'publicist', 'assistant',
       'production_department', 'electrical_department'], dtype=object)

In [39]:
name2=name.copy()
name2["primaryProfession"] = name2["primaryProfession"].fillna("")

condition_actor = name2["primaryProfession"].str.contains("actor")
condition_actress = name2["primaryProfession"].str.contains("actress")
condition_producer = name2["primaryProfession"].str.contains("producer")
condition_director = name2["primaryProfession"].str.contains("director")

condition_total = condition_actor | condition_actress | condition_producer | condition_director

name2 = name2[condition_total]

In [40]:
name2.to_csv("name2.csv",index=False)

In [ ]:
name2.shape

(7042663, 6)

In [41]:
name2 = name2[name2["knownForTitles"] != "\\N"]

In [42]:
name2.shape

(6830544, 6)

In [43]:
# Voir les nconst présents plusieurs fois
name2["nconst"].value_counts().loc[lambda x: x > 1]

Series([], Name: count, dtype: int64)

In [45]:
# Remplacer les NaN par une chaîne vide pour éviter les erreurs
principals6=principals5.copy()
principals6["actor"] = principals6["actor"].fillna("")
principals6["actress"] = principals6["actress"].fillna("")

# Ajouter les valeurs d'actress dans actor (en évitant les doublons ou virgules inutiles)
principals6["actor"] = principals6["actor"] + "," + principals6["actress"]
principals6["actor"] = principals6["actor"].str.strip(",")


# Supprimer la colonne 'actress'
principals6 = principals5.drop(columns=["actress"])

# Renommer la colonne si tu veux la rendre neutre
principals6 = principals6.rename(columns={"actor": "actor_or_actress"})

In [46]:
principals6.to_csv("principals6.csv",index=False)

In [48]:
principals6.head(1)

,nconst,actor_or_actress,archive_footage,archive_sound,casting_director,cinematographer,composer,editor,producer,production_designer,self,director,writer
0,nm0000001,"tt0023926, tt0024025, tt0025164, tt0026942, tt...","tt0072742, tt0073122, tt0113068, tt0133256, tt...",tt0166682,,,,,"tt0857198, tt0857216",,"tt0054513, tt0054513, tt0054513, tt0055989, tt...",,

In [49]:
principals6.shape

(6751579, 13)

In [54]:
principals7=principals6.copy()

principals7=principals7[["nconst","actor_or_actress","producer","director"]]
principals7= principals7.merge(name2, how="left", on="nconst")
principals7=principals7.drop(["primaryProfession","knownForTitles"],axis=1)

name_restants = name2[~name2["nconst"].isin(principals7["nconst"])]

In [55]:
principals7.to_csv("principals7.csv",index=False)
name_restants.to_csv("name_restants.csv",index=False)

In [56]:
principals7.head(5)

,nconst,actor_or_actress,producer,director,primaryName,birthYear,deathYear
0,nm0000001,"tt0023926, tt0024025, tt0025164, tt0026942, tt...","tt0857198, tt0857216",,Fred Astaire,1899,1987
1,nm0000002,,,,Lauren Bacall,1924,2014
2,nm0000003,,,,Brigitte Bardot,1934,\N
3,nm0000004,"tt0076816, tt0077147, tt0077621, tt0077975, tt...",,,John Belushi,1949,1982
4,nm0000005,"tt0043048, tt0064793, tt0064793, tt0064897, tt...","tt0060827, tt0069467, tt0076524, tt0079558, tt...","tt0038468, tt0038675, tt0039834, tt0040418, tt...",Ingmar Bergman,1918,2007

In [3]:
principals7=pd.read_csv("principals7.csv")

In [4]:
principals7.head(10)

,nconst,actor_or_actress,producer,director,primaryName,birthYear,deathYear
0,nm0000001,"tt0023926, tt0024025, tt0025164, tt0026942, tt...","tt0857198, tt0857216",NaN,Fred Astaire,1899,1987
1,nm0000002,NaN,NaN,NaN,Lauren Bacall,1924,2014
2,nm0000003,NaN,NaN,NaN,Brigitte Bardot,1934,\N
3,nm0000004,"tt0076816, tt0077147, tt0077621, tt0077975, tt...",NaN,NaN,John Belushi,1949,1982
4,nm0000005,"tt0043048, tt0064793, tt0064793, tt0064897, tt...","tt0060827, tt0069467, tt0076524, tt0079558, tt...","tt0038468, tt0038675, tt0039834, tt0040418, tt...",Ingmar Bergman,1918,2007
5,nm0000006,NaN,NaN,NaN,Ingrid Bergman,1915,1982
6,nm0000007,"tt0020714, tt0020822, tt0021508, tt0021636, tt...",NaN,NaN,Humphrey Bogart,1899,1957
7,nm0000008,"tt0042727, tt0044081, tt0045296, tt0045943, tt...",tt4800292,tt0055257,Marlon Brando,1924,2004
8,nm0000009,"tt0041579, tt0041704, tt0043121, tt0043143, tt...",tt0062898,tt0062898,Richard Burton,1925,1984
9,nm0000010,"tt0020836, tt0021381, tt0021673, tt0022151, tt...",NaN,tt0050964,James Cagney,1899,1986

In [5]:
# On ne garde que les colonnes utiles pour fondre
cols_roles = ["actor_or_actress", "producer", "director"]

# Melt
df_melted = pd.melt(principals7, id_vars=["nconst"], value_vars=cols_roles,
                    var_name="role", value_name="tconst")

# Supprimer les lignes vides
df_exploded = df_melted.dropna().copy()

# Convertir en string + split
df_exploded["tconst"] = df_exploded["tconst"].astype(str).str.split(",")

# Exploser les listes
df_exploded = df_exploded.explode("tconst").reset_index(drop=True)


principals8 = df_exploded.groupby(["tconst", "role"])["nconst"]\
                     .apply(lambda x: ', '.join(x)).unstack().reset_index()

In [9]:
principals8.head(5)

role      tconst actor_or_actress   director              producer
0      tt0000003              NaN  nm0721526                   NaN
1      tt0000004              NaN  nm0721526                   NaN
2      tt0000007              NaN  nm0005690  nm0005690, nm0249379
3      tt0000008              NaN  nm0005690             nm0005690
4      tt0000012              NaN  nm0525910             nm0525910

In [8]:
personnes=principals8.copy()
personnes.to_csv("personnes.csv",index=False)

In [10]:
personnes.describe()

role       tconst actor_or_actress   director   producer
count    14531791          6603264   12236545    4789798
unique   14531791          3297754     963076     924316
top     tt9916880        nm0411100  nm1203430  nm0438506
freq            1            10676      22882      14948

In [4]:
personnes=pd.read_csv("personnes.csv")

In [13]:
personnes.head(50)

        tconst actor_or_actress   director              producer
0    tt0000003              NaN  nm0721526                   NaN
1    tt0000004              NaN  nm0721526                   NaN
2    tt0000007              NaN  nm0005690  nm0005690, nm0249379
3    tt0000008              NaN  nm0005690             nm0005690
4    tt0000012              NaN  nm0525910             nm0525910
5    tt0000013              NaN  nm0525910             nm0525910
6    tt0000014              NaN  nm0525910             nm0525910
7    tt0000015              NaN  nm0721526                   NaN
8    tt0000016              NaN  nm0525910             nm0525910
9    tt0000017              NaN  nm0804434                   NaN
10   tt0000018              NaN  nm0804434             nm0804434
11   tt0000022              NaN  nm0525910             nm0525910
12   tt0000023              NaN  nm0525910             nm0525910
13   tt0000024              NaN  nm0010291  nm0010291, nm0666972
14   tt0000025              NaN  nm0010291  nm0010291, nm0666972
15   tt0000026              NaN  nm0525910             nm0525910
16   tt0000027              NaN  nm0525910             nm0525910
17   tt0000028              NaN  nm0525910             nm0525910
18   tt0000029              NaN  nm0525910             nm0525910
19   tt0000030              NaN  nm0010291  nm0010291, nm0666972
20   tt0000031              NaN  nm0525910             nm0525910
21   tt0000032              NaN  nm0804434             nm0804434
22   tt0000033              NaN  nm0525910             nm0525910
23   tt0000035              NaN  nm0617588             nm0617588
24   tt0000036              NaN  nm0005690                   NaN
25   tt0000037              NaN  nm0617588                   NaN
26   tt0000038              NaN  nm0374658                   NaN
27   tt0000039              NaN        NaN             nm0666972
28   tt0000040              NaN  nm0617588                   NaN
29   tt0000041              NaN  nm0525910  nm0525908, nm0525910
30   tt0000042              NaN  nm0617588             nm0617588
31   tt0000043              NaN  nm0617588                   NaN
32   tt0000044              NaN  nm0617588                   NaN
33   tt0000045              NaN  nm0617588             nm0617588
34   tt0000046              NaN  nm0617588             nm0617588
35   tt0000047              NaN  nm0617588             nm0617588
36   tt0000048              NaN  nm0010291                   NaN
37   tt0000049              NaN  nm0010291                   NaN
38   tt0000050              NaN  nm0617588             nm0617588
39   tt0000051              NaN  nm0617588                   NaN
40   tt0000054              NaN  nm0617588                   NaN
41   tt0000055              NaN  nm0617588                   NaN
42   tt0000057              NaN  nm0617588                   NaN
43   tt0000058              NaN  nm0617588                   NaN
44   tt0000059              NaN  nm0617588                   NaN
45   tt0000060              NaN  nm0005690                   NaN
46   tt0000061              NaN  nm0010291             nm0666972
47   tt0000062              NaN  nm0617588                   NaN
48   tt0000063              NaN  nm0617588                   NaN
49   tt0000064        nm0617588  nm0617588                   NaN

In [5]:
personnes["actor_or_actress"].isna().sum()

np.int64(7928527)

In [6]:
a = personnes[personnes["actor_or_actress"].fillna("").eq("")]["tconst"].unique()

print(a)

[' tt0000003' ' tt0000004' ' tt0000007' ... 'tt9916850' 'tt9916852'
 'tt9916880']

In [7]:
import pandas as pd
import numpy as np
basics=pd.read_csv("title.basics.tsv",sep="\t")

C:\Users\viole\AppData\Local\Temp\ipykernel_30760\1628291878.py:3: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  basics=pd.read_csv("title.basics.tsv",sep="\t")

In [10]:
#b=basics["tconst"].isin([a])
b = basics[basics['tconst'].isin(a)]
b.head(50)

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Poor Pierrot,Pauvre Pierrot,0,1892,\N,5,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
5,tt0000006,short,Chinese Opium Den,Chinese Opium Den,0,1894,\N,1,Short
9,tt0000010,short,Leaving the Factory,La sortie de l'usine Lumière à Lyon,0,1895,\N,1,"Documentary,Short"
11,tt0000012,short,The Arrival of a Train,L'arrivée d'un train à La Ciotat,0,1896,\N,1,"Documentary,Short"
12,tt0000013,short,The Photographical Congress Arrives in Lyon,Le débarquement du congrès de photographie à Lyon,0,1895,\N,1,"Documentary,Short"
14,tt0000015,short,Around a Cabin,Autour d'une cabine,0,1894,\N,2,"Animation,Comedy,Short"
15,tt0000016,short,Boat Leaving the Port,Barque sortant du port,0,1895,\N,1,"Documentary,Short"
18,tt0000019,short,The Clown Barber,The Clown Barber,0,1898,\N,\N,"Comedy,Short"
19,tt0000020,short,The Derby 1895,The Derby 1895,0,1895,\N,1,"Documentary,Short,Sport"
20,tt0000022,short,Blacksmith Scene,Les forgerons,0,1895,\N,1,"Documentary,Short"
21,tt0000023,short,The Sea,Baignade en mer,0,1895,\N,1,"Documentary,Short"
22,tt0000024,short,Opening of the Kiel Canal,Opening of the Kiel Canal,0,1895,\N,1,"News,Short"
23,tt0000025,short,The Oxford and Cambridge University Boat Race,The Oxford and Cambridge University Boat Race,0,1896,\N,\N,"News,Short,Sport"
25,tt0000027,short,Cordeliers' Square in Lyon,Place des Cordeliers à Lyon,0,1895,\N,1,"Documentary,Short"
26,tt0000028,short,Fishing for Goldfish,La pêche aux poissons rouges,0,1895,\N,1,"Documentary,Short"
27,tt0000029,short,Baby's Meal,Repas de bébé,0,1895,\N,1,"Documentary,Short"
28,tt0000030,short,Rough Sea at Dover,Rough Sea at Dover,0,1895,\N,1,"Documentary,Short"
29,tt0000031,short,Jumping the Blanket,Le saut à la couverture,0,1895,\N,1,"Documentary,Short"
30,tt0000032,short,Die Serpentintänzerin,Die Serpentintänzerin,0,1895,\N,1,Short
31,tt0000033,short,Horse Trick Riders,La voltige,0,1895,\N,1,"Comedy,Documentary,Short"
32,tt0000034,short,Arrivée d'un train gare de Vincennes,Arrivée d'un train gare de Vincennes,0,1896,\N,1,"Documentary,Short"
33,tt0000035,short,Watering the Flowers,L'arroseur,0,1896,\N,1,"Comedy,Short"
35,tt0000037,short,Sea Bathing,Baignade en mer,0,1896,\N,1,Short
36,tt0000038,short,The Ball Game,The Ball Game,0,1898,\N,1,"Documentary,Short,Sport"
38,tt0000040,short,Barque sortant du port de Trouville,Barque sortant du port de Trouville,0,1896,\N,\N,"Documentary,Short"
39,tt0000041,short,Bataille de neige,Bataille de neige,0,1897,\N,1,"Comedy,Documentary,Short"
40,tt0000042,short,Bateau-mouche sur la Seine,Bateau-mouche sur la Seine,0,1896,\N,\N,"Documentary,Short"
41,tt0000043,short,Batteuse à vapeur,Batteuse à vapeur,0,1896,\N,\N,"Documentary,Short"
42,tt0000044,short,Le bivouac,Le bivouac,0,1896,\N,1,Short
43,tt0000045,short,Les blanchisseuses,Les blanchisseuses,0,1896,\N,\N,Short
44,tt0000046,short,Bois de Boulogne,Bois de Boulogne,0,1896,\N,\N,"Documentary,Short"
45,tt0000047,short,Boulevard des Italiens,Boulevard des Italiens,0,1896,\N,\N,"Documentary,Short"
46,tt0000048,short,The Boxing Kangaroo,The Boxing Kangaroo,0,1896,\N,\N,Short
47,tt0000049,short,"Boxing Match; or, Glove Contest","Boxing Match; or, Glove Contest",0,1896,\N,\N,"Short,Sport"
48,tt0000050,short,Bébé et fillettes,Bébé et fillettes,0,1896,\N,\N,"Documentary,Short"
49,tt0000051,short,The Bohemian Encampment,Campement de bohémiens,0,1896,\N,\N,"Documentary,Short"
50,tt0000052,short,Ruraux au galop,Ruraux au galop,0,1896,\N,1,"Documentary,Short"
51,tt0000053,short,A Chegada do Comboio Inaugural à Estação Centr...,A Chegada do Comboio Inaugural à Estação Centr...,0,1897,\N,\N,"Documentary,Short"
52,tt0000054,short,A Merry-Go-Round,Les chevaux de bois,0,1896,\N,\N,Short
53,tt0000055,short,Le chiffonnier,Le chiffonnier,0,1896,\N,\N,Short
54,tt0000056,short,Uma Corrida de Touros no Campo Pequeno,Uma Corrida de Touros no Campo Pequeno,0,1896,\N,\N,Short
55,tt0000057,short,Cortège de tzar allant à Versailles,Cortège de tzar allant à Versailles,0,1896,\N,\N,"Documentary,Short"
56,tt0000058,short,Cortège de tzar au Bois de Boulogne,Cortège de tzar au Bois de Boulogne,0,1896,\N,\N,"Documentary,Short"
57,tt0000059,short,Coronation of a Village Maiden,Couronnement de la rosière,0,1896,\N,\N,Short
58,tt0000060,short,Dancing Darkies,Dancing Darkies,0,1896,\N,\N,"Comedy,Documentary,Short"
59,tt0000061,short,Dancing Girls,Dancing Girls,0,1896,\N,\N,Short
60,tt0000062,short,Danse serpentine,Danse serpentine,0,1896,\N,1,Short

In [12]:
b = basics[basics['tconst'].isin(a)].sort_values(by='startYear',ascending=False)
b.head(50)

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
3809042,tt15222780,tvEpisode,Peter Falk,Peter Falk,0,\N,\N,26,Documentary
3558945,tt14756076,tvEpisode,Episode #1.405,Episode #1.405,0,\N,\N,\N,Drama
3558943,tt14756072,tvEpisode,Episode #1.403,Episode #1.403,0,\N,\N,\N,Drama
3558942,tt14756070,tvEpisode,Episode #1.402,Episode #1.402,0,\N,\N,\N,Drama
3558936,tt14756060,tvEpisode,Episode #1.401,Episode #1.401,0,\N,\N,\N,Drama
3558934,tt14756058,tvEpisode,Episode #1.160,Episode #1.160,0,\N,\N,\N,Romance
3558933,tt14756056,tvEpisode,Episode #1.159,Episode #1.159,0,\N,\N,\N,Romance
3558932,tt14756054,tvEpisode,Episode #1.157,Episode #1.157,0,\N,\N,\N,Romance
3558931,tt14756052,tvEpisode,Episode #1.158,Episode #1.158,0,\N,\N,\N,Romance
3558930,tt14756050,tvEpisode,Episode #1.156,Episode #1.156,0,\N,\N,\N,Romance
3558928,tt14756048,tvEpisode,Episode #1.155,Episode #1.155,0,\N,\N,\N,Romance
3558927,tt14756046,tvEpisode,Episode #1.152,Episode #1.152,0,\N,\N,\N,Romance
3558926,tt14756044,tvEpisode,Episode #1.154,Episode #1.154,0,\N,\N,\N,Romance
3558925,tt14756042,tvEpisode,Episode #1.153,Episode #1.153,0,\N,\N,\N,Romance
3558924,tt14756040,tvEpisode,Episode #1.151,Episode #1.151,0,\N,\N,\N,Romance
3558922,tt14756038,tvEpisode,Episode #1.150,Episode #1.150,0,\N,\N,\N,Romance
3558920,tt14756034,tvEpisode,Episode #1.149,Episode #1.149,0,\N,\N,\N,Romance
3558919,tt14756032,tvEpisode,Episode #1.147,Episode #1.147,0,\N,\N,\N,Romance
3558918,tt14756030,tvEpisode,Episode #1.148,Episode #1.148,0,\N,\N,\N,Romance
3558916,tt14756028,tvEpisode,Episode #1.146,Episode #1.146,0,\N,\N,\N,Romance
3558915,tt14756026,tvEpisode,Episode #1.145,Episode #1.145,0,\N,\N,\N,Romance
3558914,tt14756024,tvEpisode,Episode #1.144,Episode #1.144,0,\N,\N,\N,Romance
3558913,tt14756022,tvEpisode,Episode #1.143,Episode #1.143,0,\N,\N,\N,Romance
3558912,tt14756020,tvEpisode,Episode #1.142,Episode #1.142,0,\N,\N,\N,Romance
3558911,tt1475602,tvEpisode,Realms of Light: The Baroque,Realms of Light: The Baroque,0,\N,\N,58,Documentary
3558907,tt14756012,tvEpisode,Episode #1.141,Episode #1.141,0,\N,\N,\N,Romance
3558906,tt14756010,tvEpisode,Episode #1.160,Episode #1.160,0,\N,\N,\N,Drama
3558905,tt1475601,tvEpisode,"An Age of Reason, an Age of Passion","An Age of Reason, an Age of Passion",0,\N,\N,56,Documentary
3558904,tt14756008,tvEpisode,Episode #1.159,Episode #1.159,0,\N,\N,\N,Drama
3558903,tt14756006,tvEpisode,Episode #1.158,Episode #1.158,0,\N,\N,\N,Drama
3558902,tt14756004,tvEpisode,Episode #1.157,Episode #1.157,0,\N,\N,\N,Drama
3558944,tt14756074,tvEpisode,Episode #1.404,Episode #1.404,0,\N,\N,\N,Drama
3558946,tt14756078,tvEpisode,Episode #1.406,Episode #1.406,0,\N,\N,\N,Drama
3558992,tt14756154,tvEpisode,Episode #1.179,Episode #1.179,0,\N,\N,\N,Drama
3558948,tt14756080,tvEpisode,Episode #1.407,Episode #1.407,0,\N,\N,\N,Drama
3558990,tt14756150,tvEpisode,Episode #1.176,Episode #1.176,0,\N,\N,\N,Drama
3558988,tt14756148,tvEpisode,Episode #1.175,Episode #1.175,0,\N,\N,\N,Drama
3558986,tt14756144,tvEpisode,Episode #1.173,Episode #1.173,0,\N,\N,\N,Drama
3558985,tt14756142,tvEpisode,Episode #1.174,Episode #1.174,0,\N,\N,\N,Drama
3558984,tt14756140,tvEpisode,Episode #1.172,Episode #1.172,0,\N,\N,\N,Drama
3558982,tt14756138,tvEpisode,Episode #1.171,Episode #1.171,0,\N,\N,\N,Drama
3558981,tt14756136,tvEpisode,Episode #1.170,Episode #1.170,0,\N,\N,\N,Drama
3558980,tt14756134,tvEpisode,Episode #1.169,Episode #1.169,0,\N,\N,\N,Drama
3558979,tt14756132,tvEpisode,Episode #1.168,Episode #1.168,0,\N,\N,\N,Drama
3558978,tt14756130,tvEpisode,Episode #1.166,Episode #1.166,0,\N,\N,\N,Drama
3558976,tt14756128,tvEpisode,Episode #1.165,Episode #1.165,0,\N,\N,\N,Drama
3558975,tt14756126,tvEpisode,Episode #1.167,Episode #1.167,0,\N,\N,\N,Drama
3558974,tt14756124,tvEpisode,Episode #1.164,Episode #1.164,0,\N,\N,\N,Drama
3558972,tt14756120,tvEpisode,Episode #1.163,Episode #1.163,0,\N,\N,\N,Drama
3558970,tt14756118,tvEpisode,Episode #1.162,Episode #1.162,0,\N,\N,\N,Drama